body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  #container {
    margin: 50px auto;
    width: 300px;
  }
  body{
    background-color: rgb(189, 185, 189);
  }
 input{
    padding: 5px;
     }